body {
    text-align: center;
    background: #ffefef;
    font-family: Arial, sans-serif;
}

.container {
    padding: 50px;
}

button {
    background: red;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: darkred;
}

.gallery img {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
}
.heart {
    position: fixed;
    bottom: 0;
    left: 50%;
    font-size: 24px;
    opacity: 1;
    transform: translateX(-50%);
    pointer-events: none;
}
body {
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
    }
body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
